
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f5f5f5; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000020;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #bbb;
}


button {
  padding: 10px;
  border: none;
  background: #1e1e2f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
